<div id="wizard_{{app['_id']}}" class="form_wizard wizard_horizontal">
  <ul class="wizard_steps">
    <li>
      <a href="#step1_{{app['_id']}}">
        <span class="step_no">1</span>
        <span class="step_descr">Step 1
          <br />
          <small>Step 1 description</small></span>
      </a>
    </li>
    <li>
      <a href="#step2_{{app['_id']}}">
        <span class="step_no">2</span>
        <span class="step_descr">Step 2
          <br />
          <small>Step 2 description</small></span>
      </a>
    </li>
    <li>
      <a href="#step3_{{app['_id']}}">
        <span class="step_no">3</span>
        <span class="step_descr">Step 3
          <br />
          <small>Step 3 description</small></span>
      </a>
    </li>
    <li>
      <a href="#step4_{{app['_id']}}">
        <span class="step_no">4</span>
        <span class="step_descr">Step 4
          <br />
          <small>Step 4 description</small></span>
      </a>
    </li>
  </ul>
  <div id="step1_{{app['_id']}}">
    <p>第1部</p>
  </div>
  <div id="step2_{{app['_id']}}">
    <p>第二部</p>
  </div>
  <div id="step3_{{app['_id']}}">
    <p>第3部</p>
  </div>
  <div id="step4_{{app['_id']}}">
    </p>第四部</p>
  </div>
</div>
