<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">
      <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tab_content1" id="profile-tab1" role="tab" data-toggle="tab" aria-expanded="true">LDAP认证</a></li>
          <li role="presentation" class="">
            <a href="#tab_content3" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">内部APM认证</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="profile-tab1">
		{% include auth/ldap.html%}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab3">
		{% include auth/sys_local.html%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

